.card {
    width: 25rem;
    height: 25rem;
    background-image: linear-gradient(
    to right bottom ,
    rgba(112, 252, 131, 0.6),
    rgba(21, 17, 236, 0.8));
    border-radius: 4rem;
    margin-top: 7rem;
}

.imgContainer {
    width: 15rem;
    margin: auto;
    margin-bottom: 1rem;
}
.imgContainer img {
    width: 100%;
    border-radius: 4rem;
    margin-top: -5rem;
}
.infoContainer {
    text-align: center;
}
.infoContainer h1 ,
.infoContainer h2 {
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
    background-image: linear-gradient(to right,   rgb(0, 59, 223),
    rgb(0, 2, 126));
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 1.5rem;
    display: block;
}