.features {
 
}
.row {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.col {
    min-width: 40rem;
    width: 50rem;
    margin-bottom: 5rem;
    padding: 1rem;
}
.headinngTertiary{
    font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.paragraph {
    font-size: 1.6rem; }
    .paragraph:not(:last-child) {
      margin-bottom: 3rem; 
}

.composition {
    position: relative; }
    .compositionphoto {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      transition: all .2s;
      outline-offset: 2rem; }
      .compositionphotop1 {
        left: 0;
        top: -2rem; }
      .compositionphotop2 {
        right: 0;
        top: 2rem; }
      .compositionphotop3 {
        left: 20%;
        top: 10rem; }
      .compositionphoto:hover {
        outline: 1.5rem solid #55c57a;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 20; }
    .composition:hover .compositionphoto:not(:hover) {
      transform: scale(0.95); }
      @media screen and (max-width: 1020px) {
        .features{
          height: 80vh;
        }
      }